<!DOCTYPE html>
<HTML>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
	</head>
	<body >
		<div id="header">
			HANGMAN
		</div>
		
		<div id="head-border">
			<img src="/bottom_border.jpg">
		</div>

		<div id="main-container-wrapper">
			<div id="main-container">
				<div id="left-container">
					
					<div id="bad_guesses">
						<% if bad_guesses %>
							<% if bad_guesses.length <5 && good_guesses && good_guesses.join != word.join %>
								<% bad_guesses.each do |num| %>
									<% randx = rand(10) %>
									<% randy = rand(25) %>
									<div class="bad-letter" style="margin-top: <%= randy %>px; margin-left: <%= randx %>px;"><%= num %>
										<div class="bad-letter-strike"><img src="/strike.png"></div>
									</div>									
								<% end %>
							<% end %>
						<% end %>
					</div>

					<div id="guess">
						<%if good_guesses && good_guesses.join == word.join %>
							
							<div class="lost">
								<span class="lost-title">You WON!</span>
							</div>

							<div class="play-again">
								<a href="/?game=new">-> Play Again"</a>
							</div>

						<% elsif good_guesses && bad_guesses.length < 5 %>
							<form>
								<div class="input-title">Enter Letter</div>
								<div class="input-box"><input class="input" pattern="[A-Za-z]{1}" type="text" name="guess" maxlength="1" autofocus autocomplete="off" required=""></div>
								<div class="input-button"><input class="submit-button" type="submit" value="-> Guess!"></div>
							</form>

						<% elsif good_guesses && bad_guesses.length >= 5 %>
							<div class="lost">
								<span class="lost-title">You Lost!</span>
								<p>The word was:</p>
								<span class="end-word"><% word.each do |letter| %>
									<%= letter %>
									<% end %>
								</span>
								</p>
							</div>
							<div class="play-again">
								<a href="/?game=new">-> Play Again"</a>
							</div>
						<% else %>
							<form>
								<div class="input-title"># of Letters?</div>
								<div class="input-box"><input class="input" type="number" name="make" autofocus="" autocomplete="off"></div>
								<div class="input-button"><input class="submit-button" type="submit" value="Make it!"></div>
							</form>					
						<% end %>
					</div>

				</div>

				<div id="right-container">

					<% if bad_guesses %>
						<% bad_guess_length = bad_guesses.length %>
						<% if bad_guess_length == 0 %>
							<img src="/hangman0.jpg">
						<% elsif bad_guess_length == 1 %>
							<img src="/hangman1.jpg">
						<% elsif bad_guess_length == 2 %>
							<img src="/hangman2.jpg">
						<% elsif bad_guess_length == 3 %>
							<img src="/hangman3.jpg">
						<% elsif bad_guess_length == 4 %>
							<img src="/hangman4.jpg">
						<% elsif bad_guess_length == 5 %>
							<img src="/hangman5.jpg">
						<% elsif bad_guess_length == 6 %>
							<img src="/hangman6.jpg">
						<% end %>
					<% else %>
						<img src="/hangman0.jpg">
					<% end %>
				</div>

				<div id="good_guesses">
					<% if good_guesses %>
						<% good_guesses.each do |letter| %>
							<% width = (100 / good_guesses.length).to_i %>
							<div class="good_letter"><%= letter %></div>
						<% end %>
					<% else %>
						<div class="good_letter">L</div>
						<div class="good_letter">E</div>
						<div class="good_letter">T'</div>
						<div class="good_letter">S</div>
						<div class="good_letter">&nbsp;</div>
						<div class="good_letter">P</div>
						<div class="good_letter">L</div>
						<div class="good_letter">A</div>
						<div class="good_letter">Y</div>
						<div class="good_letter">!</div>
					<% end %>
				</div>

			</div>
		</div>
		

	</body>
</HTML>